.endnew
  .endnew__endcenter
    .endnew__endcenter__endtop
      会員登録完了
    .endnew__endcenter__endmain
      .endnew__endcenter__endmain__endbox
        .endnew__endcenter__endmain__endbox__endcomment
          %p ありがとうございます。
          %P 会員登録が完了しました。
        .endnew__endcenter__endmain__endbox__endbtnbox
          = link_to "メルカリをはじめる", root_path ,class: "btn-gradient-3d"
    .endnew__endcenter__endmain__endbox__endimage
      = image_tag "https://cdn.pixabay.com/photo/2018/09/27/09/15/iphone-x-3706545__480.jpg", class: "endnewimage", alt:"logo"  
      %p.endimagetext 
        スマホでかんたん!　　　　　　　　　今すぐ無料ダウンロード!!