.footernew
  .footernew__selecter
    %ul.footernew__selecter__list
      %li.footernew__selecter__list__policy
        = link_to "#", class: "footer__selecter__list__policy" do
          プライバシーポリシー
      %li.footernew__selecter__list__policy
        = link_to "#", class: "footer__selecter__list__policy" do
          メルカリ利用規約
      %li.footernew__selecter__list__policy
        = link_to "#", class: "footer__selecter__list__policy" do
          特定商取引に関する表記
  .footernew__signup-logo
    = image_tag "logo_gray.svg", class: "signup-logo", alt:"logo"
  .footernew__signup-mark
    %p Fmarket,inc.
