.headernew
  .headernew__leftcontents
    .headernew__leftcontents__mainlogo
    = link_to root_path, class: "" do
      = image_tag "fmarket_logo_red.svg", class: "mainlogo", alt:"logo"
  .headernew__rightcontents
    .headernew__rightcontents__mainline
      .headernew__rightcontents__mainline__status
        .headernew__rightcontents__mainline__status__text
          会員情報
        .headernew__rightcontents__mainline__status__dotto-red
      .headernew__rightcontents__mainline__status
        .headernew__rightcontents__mainline__status__text-red
          電話番号認証
        .headernew__rightcontents__mainline__status__dottoto-red
      .headernew__rightcontents__mainline__status
        .headernew__rightcontents__mainline__status__text
          お届け先住所入力
        .headernew__rightcontents__mainline__status__dottoto
      .headernew__rightcontents__mainline__status
        .headernew__rightcontents__mainline__status__text
          支払い方法
        .headernew__rightcontents__mainline__status__dottoto
      .headernew__rightcontents__mainline__status
        .headernew__rightcontents__mainline__status__text
          完了
        .headernew__rightcontents__mainline__status__dot