.tellnew
  .tellnew__tellcenter
    .tellnew__tellcenter__telltop
      電話番号の確認
    .tellnew__tellcenter__tellmain
      .tellnew__tellcenter__tellmain__tellbox
        .tellnew__tellcenter__tellmain__tellbox__tellinput
          携帯電話の番号を入力
        .tellnew__tellcenter__tellmain__tellbox__tellcomment
          本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        .tellnew__tellcenter__tellmain__tellbox__tellbtn

        .tellnew__tellcenter__tellmain__tellbox__tellcomment
          ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .tellnew__tellcenter__tellmain__tellbox__telllink
          電話番号の確認が必要な理由>
