%footer.add-item__footer
  .add-item__footer__list
    %ul.add-item__footer__list--ul
      %li.add-item__footer__list--ul--li プライバシーポリシー
      %li.add-item__footer__list--ul--li メルカリ利用規約
      %li.add-item__footer__list--ul--li 特定商取引に関する表記
  = link_to items_path, class: "add-item__footer__logo" do
    %h3.add-item__footer__text
  © Mercari, Inc.