.myheader{style: 'background: #f5f5f5; box-shadow: none;'}
  .mybox
    .myboxtop
    = link_to items_path, class: "menulist__sub" do
      .myboxtop__img{style: 'margin: 0 auto;'}
        = image_tag "fmarket_logo_red.svg", class: "myboxtop__img", alt:"logo"
