.main
  .frame
    %ul.frame__list
      %li.frame__list--img
        -# = image_tag "home2.png", class: "frame__list--img", alt:"logo"


  .category
    .title
      %p
        全ての商品一覧
    .sub
      %ul.sub__cate
        %li.sub__cate--zone
          %p
            メンズ
        %li.sub__cate--zone
          %p
            レディース
  .itemzone
    .subzone
      .subzone__box
        .box-bar
          %p
            〇〇新着アイテム
          = link_to "#", class: "box-bar__more" do
            もっと見る　＞
        %ul.sub-item
          %li.sub-item__list
  .category
    .title
      %p
        全ての商品一覧
    .sub
      %ul.sub__cate
        %li.sub__cate--zone
          %p
            メンズ
        %li.sub__cate--zone
          %p
            レディース
  .itemzone
    .subzone
      .subzone__box
        .box-bar
          %p
            〇〇新着アイテム
          = link_to "#", class: "box-bar__more" do
            もっと見る　＞
        %ul.sub-item
          %li.sub-item__list

