.container
  .content
    %section.content__chapter
      %h2.chapter__head 支払い方法
      .chapter__inner
        %section
          .chapter__inner__title
            %h3.chapter__inner__title__text クレジットカード一覧
        %section
        .chapter__inner__setting-card
          = link_to cards_path, class: "chapter__inner__setting-card__content", method:"post" do
            .chapter__inner__setting-card__content
              %i.far.fa-credit-card
              %p 　クレジットカードを追加する
        .setting-not-resist
          = link_to "#", class: ".setting-not-resist" do
            %span 支払い方法について
            %i.fas.fa-angle-right