.sell
- if user_signed_in?
  .sell__btn

    = link_to "new_brand_path", class: "sell__btn" do
      %p
        出品
      = icon('fas', 'camera', class: 'sell__btn--icon')
- else
  .sell__btn
    = link_to "new_user_session_path", class: "sell__btn" do
      %p
        出品
      = icon('fas', 'camera', class: 'sell__btn--icon')