%footer.add-item__footer
  .add-item__footer__list
    %ul.add-item__footer__list--ul
      %li.add-item__footer__list--ul--li プライバシーポリシー
      %li.add-item__footer__list--ul--li メルカリ利用規約
      %li.add-item__footer__list--ul--li 特定商取引に関する表記
  %a.add-item__footer__logo{:href => "#"}
  .add-item__footer__text
    © Mercari, Inc.