
%body
  %header.add-item__header
    %a.add-item__header--logo{:href => "#"}
  .add-item__main
    .add-item__main--top
      %h1
        商品の情報を入力
    .add-item__main--bottom
      .add-item__main--bottom--image
        .upload__text
          %h3
            出品画像
            %span.form-require 必須
          .upload__text--text
            最大10枚までアップロードできます
          .upload__image
            .upload__image--icon
              %i.fas.fa-camera
      .add-item__main--bottom--name
        .add-item__main--bottom--name__name
          %h3
            商品名
            %span.form-require 必須
          %input.input-default{:placeholder => "商品名（必須 40文字まで)", :value => ""}/
        .add-item__main--bottom--name__text
          %h3
            商品の説明
            %span.form-require 必須
          %textarea.textarea-default{:placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", :rows => "5"}
      .add-item__main--bottom--category
        %h3.sub-head
          商品の詳細
        .add-item-details
          .add-item-details__category
            %h3
              カテゴリー
              %span.form-require 必須
            .select-wrap
              %select.select-default
                %option
                  \---
                %option
                  レディース
                %option
                  メンズ
                %option
                  ベビー・キッズ
                %option
                  インテリア・住まい・小物
                %option
                  本・音楽・ゲーム
                %option
                  おもちゃ・ホビー・グッズ
                %option
                  コスメ・香水・美容
                %option
                  家電・スマホ・カメラ
                %option
                  スポーツ・レジャー
                %option
                  ハンドメイド
                %option
                  チケット
                %option
                  自動車・オートバイ
                %option
                  その他
              %i.fas.fa-chevron-down
          .add-item-details__condition
            %h3
              商品の状態
              %span.form-require 必須
            .select-wrap
              %select.select-default
                %option
                  \---
                %option
                  新品、未使用
                %option
                  未使用に近い
                %option
                  目立った傷や汚れなし
                %option
                  やや傷や汚れあり
                %option
                  傷や汚れあり
                %option
                  全体的に状態が悪い
              %i.fas.fa-chevron-down
      .add-item__main--bottom--delivery
        %h3.sub-head
          配送について
        .add-item__main--bottom--delivery--form-box
          .add-item__main--bottom--delivery--form-box__way
            %h3
              発送料の負担
              %span.form-require 必須
            .select-wrap
              %select.select-default
                %option
                  \---
                %option
                  送料込み(出品者負担)
                %option
                  着払い(購入者負担)
              %i.fas.fa-chevron-down
          .add-item__main--bottom--delivery--form-box__region
            %h3
              発送元の地域
              %span.form-require 必須
            .select-wrap
              %select.select-default
                %option
                  \---
                %option
                  北海道
                %option
                  青森県
                %option
                  岩手県
                %option
                  宮城県
                %option
                  秋田県
                %option
                  山形県
                %option
                  福島県
                %option
                  茨城県
                %option
                  栃木県
                %option
                  群馬県
                %option
                  埼玉県
                %option
                  千葉県
                %option
                  東京都
                %option
                  神奈川県
                %option
                  新潟県
                %option
                  富山県
                %option
                  石川県
                %option
                  福井県
                %option
                  山梨県
                %option
                  長野県
                %option
                  岐阜県
                %option
                  静岡県
                %option
                  愛知県
                %option
                  三重県
                %option
                  滋賀県
                %option
                  京都府
                %option
                  大阪府
                %option
                  兵庫県
                %option
                  奈良県
                %option
                  和歌山県
                %option
                  鳥取県
                %option
                  島根県
                %option
                  岡山県
                %option
                  広島県
                %option
                  山口県
                %option
                  徳島県
                %option
                  香川県
                %option
                  愛媛県
                %option
                  高知県
                %option
                  福岡県
                %option
                  佐賀県
                %option
                  長崎県
                %option
                  熊本県
                %option
                  大分県
                %option
                  宮崎県
                %option
                  鹿児島県
                %option
                  沖縄県
                %option
                  未定
              %i.fas.fa-chevron-down
          .add-item__main--bottom--delivery--form-box__date
            %h3
              発送までの日数
              %span.form-require 必須
            .select-wrap
              %select.select-default
                %option
                  \---
                %option
                  1~2日で発送
                %option
                  2~3日で発送
                %option
                  4~7日で発送
              %i.fas.fa-chevron-down
      .add-item__main--bottom--value
        %h3.sub-head
          商品の詳細
        %ul.add-item__main--bottom--value--form-box
          %li.add-item__main--bottom--value--form-box__value
            .add-item__main--bottom--value--form-box__value__left
              %h3
                価格
                %span.form-require 必須
            .add-item__main--bottom--value--form-box__value__right
              %p ¥
              .add-item__main--bottom--value--form-box__value__right--form
                %input.input-default{:placeholder => "例）300", :value => ""}/
          %li.add-item__main--bottom--value--form-box__commission
            .add-item__main--bottom--value--form-box__commission__left
              販売手数料
            .add-item__main--bottom--value--form-box__commission__right
              \-
          %li.add-item__main--bottom--value--form-box__profit
            .add-item__main--bottom--value--form-box__profit__left
              %h3 販売利益
            .add-item__main--bottom--value--form-box__profit__right
              \-
      .add-item__main--bottom--btn
        .add-item__main--bottom--btn__text
          %p 禁止されている出品、行為を必ずご確認ください。
          %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %p また、出品をもちまして加盟店規約に同意したことになります。
        %button.add-item__main--bottom--btn__red-btn
          出品する
        .add-item__main--bottom--btn__gray-btn
          もどる
    %footer.add-item__footer
      .add-item__footer__list
        %ul.add-item__footer__list--ul
          %li.add-item__footer__list--ul--li プライバシーポリシー
          %li.add-item__footer__list--ul--li メルカリ利用規約
          %li.add-item__footer__list--ul--li 特定商取引に関する表記
      %a.add-item__footer__logo{:href => "#"}
      .add-item__footer__text
        © Mercari, Inc.

