* {
  box-sizing: border-box;
}


.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 游ゴシック体, YuGothic, メイリオ, Meiryo;
}

.header{
  box-shadow: 0 1px 3px 0 #9E9E9E;
  z-index: 3;
  height: 110px;
  width: 100%;
  .box {
    margin: 0 auto;
    padding: 7px 0 0;
    max-width: 950px;
    .boxtop {
      height: 50px;
      margin: 0 auto;
      padding: 7px 0 0;
      display: flex;
      justify-content: space-around;
      max-width: 950px;
      &__img {
        background-repeat: no-repeat;
        width: 100px;
        height: 100%;
      }
      &__form {
        width: 100%;
        position: relative;
        #keyword {
          display: inline-block;
          width: 100%;
          background-color: whitesmoke;
          font-size: 15px;
          height: 40px;
          line-height: 1.4em;
          position: relative;
          -webkit-appearance: none;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(200, 200, 200);
          border-image: initial;
          border-radius: 5px;
          outline: none;
          padding: 0px 50px 0px 10px;
          transition: all 0.5s ease-out 0s;
        }
        &--icon{
          position: absolute;
          right: 10px;
          top: 1px;
          cursor: pointer;
          align-items: center;
          color: black;
        }
      }
    }
    .boxbar{
      display: flex;
      justify-content: space-around;
      margin-top: 7px;
      align-items: center;
      &__list{
        text-decoration: none;
        font-weight: 600;
        color: black;
        &--icon{
          color: rgb(240, 103, 10);
        }
      }
      &__end{
        font-size: 13px;
        &--sinup{
          $color: rgb(240, 103, 10);
          background-color: $color;
          text-decoration: none;
          border-radius: 3px;
          border: 2px solid $color;
          color: #fff;
          cursor: pointer;
          padding: 7px 10px;
          border-image: initial;
          transition: all 0.5s ease-out 0s;
          margin-right: 10px;
        }
        &--login{
          $color: #38aef0;
          text-decoration: none;
          border-radius: 3px;
          border: 2px solid $color;
          color: $color;
          cursor: pointer;
          padding: 7px 10px;
          border-image: initial;
          transition: all 0.5s ease-out 0s;
          &:before {
            content: "";
            background-color: rgba(255,255,255,0.5);
            height: 100%;
            width: 3em;
            display: block;
            position: absolute;
            top: 0;
            left: -4.5em;
            transform: skewX(0) translateX();
            transition: none;
          }
          &:hover {
            background-color: $color;
            color: #fff;
            border-bottom: 4px solid darken($color, 10%);
            &:before {
              transform: skewX(0) translateX(0);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.main{
  margin: 0 auto;
  width: 100%;
  position: relative;
  .frame{
    margin-top: 3px;
    height: 400px;
    width: 100%;
    max-width: 850px;
    overflow: hidden;
    top: 0;
    display: flex;
    &__list{
      max-width: 850px;
      width: 100%;
      margin: 0 auto;
      height: 400px;
      &--img{
        position: absolute;
        height: 400px;
        margin: 0 auto;
        width: -webkit-fill-available;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        vertical-align: middle;
        transform: scale(1);
        transition: transform 0.4s linear 0s;
      }
    }
  }
  .category{
    margin-top: 30px;
    margin-bottom: 30px;
    .title{
      text-align: center;
      p{
        font-weight: bold;
        font-size: 30px;
      }
    }
    .sub{
      text-align: center;
      margin-top: 10px;
      &__cate{
        &--zone{
          $color: rgb(240, 240, 240);
          background-color: $color;
          text-decoration: none;
          border-radius: 100px;
          border: 2px solid $color;
          color: black;
          cursor: pointer;
          padding: 4px 15px;
          margin: 0 8px;
          border-image: initial;
          transition: all 0.5s ease-out 0s;
          display: inline-block;
          p{
            font-size: 15px;
            font-weight: 550;
          }
        }
      }
    }
  }
  .itemzone{
    padding-top: 20px;
    background-color: rgb(240, 240, 240);
    overflow: scroll;
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
    min-height: 100vh;
    .subzone{
      &__box{
        align-items: center;
        max-width: 850px;
        margin: 0 auto;
        .box-bar{
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          p{
            font-size: 30px;
          }
          &__more{
            color: #38aef0;
            text-decoration: none;
            font-size: 13px;
            line-height: 30px;
          }

        }
        .sub-item{
          &__list{

          }
        }
      }
    }
  }
}

.footer{
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  position: relative;
  .under{
    height: 200px;
    width: 100%;
    max-width: 1060px;
    overflow: hidden;
    top: 0;
    &__list{
      &--img{
        position: absolute;
        height: 200px;
        margin: 0 auto;
        width: -webkit-fill-available;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        vertical-align: middle;
        transform: scale(1);
        transition: transform 0.4s linear 0s;
      }
    }
    &__title{
      color: rgba(255,255,255,1);
      font-weight: 700;
      letter-spacing: 10px;
      position: absolute;
      left: 60px;
      top: 30px;
      #top{
        font-size: 20px;
      }
      #center{
        font-size: 20px;
      }
      #bottom{
        font-size: 30px;
      }
    }
  }
  .under-bar{
    height: 400px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-around;
    &__box1{
      padding: 10px 30px;
      h2{
        padding: 10px 10px;
        color: whitesmoke;
      }
      .title{
        .list{
          color: rgba(90, 90, 90, 1);
        }
      }
      .link{
        &__list{
          padding: 0 1px;
          margin-top: 20px;
          display: inline-block;
          color: whitesmoke;
          text-decoration: none;
          &--icon{
            color: whitesmoke;
            text-decoration: none;
          }
        }
      }
    }
    &__box2{
      padding: 10px 30px;
      h2{
        padding: 10px 10px;
        color: whitesmoke;
      }
      .title{
        .list{
          color: rgba(90, 90, 90, 1);
        }
      }
      .link{
        &__list{
          padding: 0 1px;
          margin-top: 20px;
          display: inline-block;
          color: whitesmoke;
          text-decoration: none;
          &--icon{
            color: whitesmoke;
            text-decoration: none;
          }
        }
      }
    }
    &__box3{

    }
    &__bottom{
      position: fixed;
      position: absolute;
      width: 100%;
      height: 60px;
      bottom: 0;
      display: inline-block;
      margin-top: 30px;
      margin: auto;
      align-items: center;
      h3{
        width: 30%;
        font-size: 20px;
        color: whitesmoke;
        margin-left: 60px;
        top: 30px;
      }
      p{
        font-size: 8px;
        color: whitesmoke;
        text-align: center;
        padding-bottom: 9px;
      }
    }
  }
}



.sell {
  display: list-item;
  margin-top: -30px;
  &__btn {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 50%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 2px 10px 0 #9E9E9E;
    bottom: 30px;
    right: 30px;
    width: 160px;
    height: 160px;
    position: fixed;
    z-index: 100;
    background-color: rgb(240, 103, 10);
    cursor: pointer;
    overflow: hidden;
    border: 0 solid;
    box-shadow: inset 0 0 150px rgba(255, 255, 255, 0);
    outline: 1px whitesmoke;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 900ms cubic-bezier(0, 1.11, 0.16, 1.26);
    p {
      font-size: 20px;
      margin-top: 18px;
    }
    &:hover{
      border: 1px solid whitesmoke;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 100px rgba(255, 255, 255, .2);
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      text-shadow: 1px 1px 2px whitesmoke;
    }
    &--icon{
      color: whitesmoke;
      text-decoration: none;
      font-size: 66px;
    }
  }
}
