@media screen and (min-width: 746px){
  max-width: none;
  width: 456px;
}


.wrapper {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 游ゴシック体, YuGothic, Meiryo;
  background-color: #f5f5f5;
}

  .content{
    width: 700px;
    margin: 24px auto 0;
    padding: 0 0 40px;
  }

  .form-arbitray{
    background: #ccc;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }

  .text-right{
    text-align: right;
    color: #0099e8;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-red{
    background: rgb(240, 103, 10);
    border: 1px solid #ea352d;
    color: #fff;
  }

  .btn-default2{
    margin: 40px 0 0 0;
    display: block;
    width: 100%;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }

  .login-panel{   
    margin: auto 0;
    background-color: #fff;

  

  .login-form-inner{
    padding: 32px 64px;
    border-top: 1px solid #eee;

    

    .btn-sns-facebook{
      background: #385185;
      color: #fff;
      position: relative;
      i{
        font-size: 24px;

      }

    }

  }

  .login-form-inner:first-child{
    padding: 24px 64px 32px;

    .login-submit{
      margin: 24px 0 0;
    }
    .form-group:first-child{
      margin: 0;
    }
    .form-group{
      margin: 24px 0 0;
    }

  }


  .login-noaccount{
    padding: 40px 64px;
    text-align: center;

    a {
      display: block;
      margin: 8px 0 0;
      border: 1px solid #0099e8;
      background: #0099e8;
      color: #fff;
      line-height: 40px;
    }
    p{
      font-size: 14px;

    }
  }
}