
.myheader{
  z-index: 3;
  height: 110px;
  width: 100%;
  .mybox {
    margin: 0 auto;
    padding: 7px 0 0;
    max-width: 950px;
    .myboxtop {
      height: 50px;
      margin: 0 auto;
      padding: 7px 0 0;
      display: flex;
      justify-content: space-around;
      max-width: 950px;
      &__newimg {
        background-repeat: no-repeat;
        width: 150px;
        height: 100%;
      }
      &__form {
        width: 100%;
        position: relative;
        #keyword {
          display: inline-block;
          width: 100%;
          background-color: whitesmoke;
          font-size: 15px;
          height: 40px;
          line-height: 1.4em;
          position: relative;
          -webkit-appearance: none;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(200, 200, 200);
          border-image: initial;
          border-radius: 5px;
          outline: none;
          padding: 0px 50px 0px 10px;
          transition: all 0.5s ease-out 0s;
        }
        .boxtop__form{
          position: relative;
          &--icon{
            position: absolute;
            right: 10px;
            top: 1px;
            cursor: pointer;
            align-items: center;
            color: black;
          }
        }
      }
    }
    .myboxbar{
      display: flex;
      justify-content: space-around;
      margin-top: 7px;
      align-items: center;
      &__list{
        text-decoration: none;
        font-weight: 600;
        color: black;
        &--icon{
          color: rgb(240, 103, 10);
        }
      }
      .myboxbar_end{
        &--li{
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          color: black;
          padding: 0 2px;
          
          &--icon{
            color: rgb(200, 200, 200);
          }
          &:hover{
            color: #38aef0;
          }
        }
        &--myli{
          text-decoration: none;
          color: black;
          padding: 0 2px;
          display: flex;
          align-items: center;
          
          &--img{
            border-radius: 50%;
            border-style: none;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            overflow: hidden;
            background-image: image-url("logo_white.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
          &:hover{
            color: #38aef0;
          }
        }
      }
      
    }
    
  }
}
.mybox-bottom{
  padding-top: 10px;
  box-shadow: 0 1px 3px 0 #9E9E9E;
  height: 50px;
  .menulist{
    margin: 0 auto;
    max-width: 950px;
    &__sub{
      text-decoration: none;
      span{
        color: black;
        font-weight: lighter;
      }
      &--icon{
        padding: 0 2px;
        color: rgb(200, 200, 200);
        
      }
      .now{
        color: black;
        font-weight: bold;
      }
    }
  }
}

.mymain{
  margin-top: 3px;
  position: relative;
  background-color: rgb(240, 240, 240);
  width: 100%;
  min-height: 100vh;

  .mycategory{
    margin: 40px auto 0;
    width: 100%;
    max-width: 1060px;
    min-height: 100vh;
    display: flex;


    .sub-bar{
      margin-right: 40px;
      width: 280px;
      &__list{
        &__mypage1{
          height: 680px;
          width: 280px;
          &--top{
            text-decoration: none;
            height: 50px;
            width: 280px;
            background-color: lightgray;
            display: flex;
            color: black;
            line-height: 50px;
            position: relative;
            #text {
              font-weight: bold;
              padding-left: 10px;
              font-size: 14px;
            }
            &--icon{
              line-height: 50px;
              right: 10px;
              position: absolute;
            }
          }
          &--box1{
            &:hover{
              background-color: whitesmoke;
            }
            text-decoration: none;
            height: 50px;
            width: 280px;
            background-color: #fff;
            display: flex;
            color: black;
            line-height: 50px;
            position: relative;
            border-top: 0.1px solid rgb(200, 200, 200);
            #text {
              padding-left: 10px;
              font-size: 14px;
            }
            &--icon{
              line-height: 50px;
              right: 10px;
              position: absolute;
              color: rgb(200, 200, 200);
            }
          }
        }
        &__mypage2{
          height: 130px;
          width: 280px;
          margin-top: 40px;
          &--second{
            text-decoration: none;
            height: 50px;
            width: 280px;
            display: flex;
            color: black;
            line-height: 50px;
            position: relative;
            #text {
              font-weight: bold;
              font-size: 14px;
            }
            &--icon{
              line-height: 50px;
              right: 10px;
              position: absolute;
            }
          }
          &--box2{
            &:hover{
              background-color: whitesmoke;
            }
            text-decoration: none;
            height: 50px;
            width: 280px;
            background-color: #fff;
            display: flex;
            color: black;
            line-height: 50px;
            position: relative;
            border-top: 0.1px solid rgb(200, 200, 200);
            #text {
              padding-left: 10px;
              font-size: 14px;
            }
            &--icon{
              line-height: 50px;
              right: 10px;
              position: absolute;
              color: rgb(200, 200, 200);
            }
          }
        }
        &__mypage3{
          height: 500px;
          width: 280px;
          margin-top: 40px;
          &--third{
            text-decoration: none;
            height: 50px;
            width: 280px;
            display: flex;
            color: black;
            line-height: 50px;
            position: relative;
            #text {
              font-weight: bold;
              font-size: 14px;
            }
            &--icon{
              line-height: 50px;
              right: 10px;
              position: absolute;
            }
          }
          &--box3{
            &:hover{
              background-color: whitesmoke;
            }
            text-decoration: none;
            height: 50px;
            width: 280px;
            background-color: #fff;
            display: flex;
            color: black;
            line-height: 50px;
            position: relative;
            border-top: 0.1px solid rgb(200, 200, 200);
            #text {
              padding-left: 10px;
              font-size: 14px;
            }
            &--icon{
              line-height: 50px;
              right: 10px;
              position: absolute;
              color: rgb(200, 200, 200);
            }
          }
        }
      }
      
    }
  }
  .container{
    width: 100%;
    max-width: 700px;
    .toptitle{
      display: block;
      padding: 7px 27px;
      background-color: white;
      font-size: 27px;
      font-weight: bold;
      text-align: center;
    }
    .content{
      .content__top{
        .userimage{
          height: 200px;
          max-width: 700px;
          width: 100%;
          position: relative;
          text-align: center;
          background-image: image-url("mypage.png");
          background-repeat: no-repeat;
          background-size: cover;
          .myimg{
            height: 180px;
            position: absolute;
            top: 10%;
            left: 0;
            right: 0;
            padding: 60px 15px 20px;
            display: inline-block;
            &__top{
              height: 60px;
              max-width: 60px;
              width: 100%;
              position: absolute;
              left: 30%;
              background-image: image-url("logo_white.svg");
              background-repeat: no-repeat;
            }
            &__form{
              position: absolute;
              line-height: 50px;
              max-width: 250px;
              #keyword {
                display: inline-block;
                width: 100%;
                background-color: whitesmoke;
                font-size: 15px;
                height: 50px;
                line-height: 1.4em;
                -webkit-appearance: none;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(200, 200, 200);
                border-image: initial;
                border-radius: 5px;
                outline: none;
                padding: 0px 50px 0px 10px;
                transition: all 0.5s ease-out 0s;
              }
            }
          }
        }
      }
      .content__prof{
        width: 100%;
        height: 400px;
        padding: 40px 15px;
        background-color: white;
        &__text{
          min-height: 210px;
          border-color: rgb(200, 200, 200);
          padding: 10px;
          width: 100%;
          line-height: 1.4;
          display: block;
          -webkit-appearance: none;
          border-width: 1px;
          border-style: solid;
          font-size: 15px;
          outline: none;
        }
        &__sum{
          padding: 12px;
          a{
            margin: 0 auto;
            height: 55px;
            line-height: 55px;
            text-align: center;
            background-color: rgb(240, 103, 10);
            text-decoration: none;
            display: block;
            color: white;
            box-shadow: 0 2px 3px 0 #9E9E9E;
            &:hover{
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}


.footer{
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  position: relative;
  .under{
    height: 200px;
    width: 100%;
    max-width: 1060px;
    overflow: hidden;
    top: 0;
    &__list{
      &--img{
        position: absolute;
        height: 200px;
        margin: 0 auto;
        width: -webkit-fill-available;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        vertical-align: middle;
        transform: scale(1);
        transition: transform 0.4s linear 0s;
      }
    }
    &__title{
      color: rgba(255,255,255,1);
      font-weight: 700;
      letter-spacing: 10px;
      position: absolute;
      left: 60px;
      top: 30px;
      #top{
        font-size: 20px;
      }
      #center{
        font-size: 20px;
      }
      #bottom{
        font-size: 30px;
      }
    }
  }
  .under-bar{
    height: 400px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-around;
    &__box1{
      padding: 10px 30px;
      h2{
        padding: 10px 10px;
        color: whitesmoke;
      }
      .title{
        .list{
          color: rgba(90, 90, 90, 1);
        }
      }
      .link{
        &__list{
          padding: 0 1px;
          margin-top: 20px;
          display: inline-block;
          color: whitesmoke;
          text-decoration: none;
          &--icon{
            color: whitesmoke;
            text-decoration: none;
          }
        }
      }
    }
    &__box2{
      padding: 10px 30px;
      h2{
        padding: 10px 10px;
        color: whitesmoke;
      }
      .title{
        .list{
          color: rgba(90, 90, 90, 1);
        }
      }
      .link{
        &__list{
          padding: 0 1px;
          margin-top: 20px;
          display: inline-block;
          color: whitesmoke;
          text-decoration: none;
          &--icon{
            color: whitesmoke;
            text-decoration: none;
          }
        }
      }
    }
    &__box3{

    }
    &__bottom{
      position: fixed;
      position: absolute;
      width: 100%;
      height: 60px;
      bottom: 0;
      display: inline-block;
      margin-top: 30px;
      margin: auto;
      align-items: center;
      h3{
        width: 30%;
        font-size: 20px;
        color: whitesmoke;
        margin-left: 110px;
        top: 30px;
      }
      p{
        font-size: 8px;
        color: whitesmoke;
        text-align: center;
        padding-bottom: 9px;
      }
    }
  }
}



.sell {
  display: list-item;
  margin-top: -30px;
  &__btn {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 50%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 2px 10px 0 #9E9E9E;
    bottom: 30px;
    right: 30px;
    width: 160px;
    height: 160px;
    position: fixed;
    z-index: 100;
    background-color: rgb(240, 103, 10);
    cursor: pointer;
    overflow: hidden;
    border: 0 solid;
    box-shadow: inset 0 0 150px rgba(255, 255, 255, 0);
    outline: 1px whitesmoke;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 900ms cubic-bezier(0, 1.11, 0.16, 1.26);
    p {
      font-size: 20px;
      margin-top: 18px;
    }
    &:hover{
      border: 1px solid whitesmoke;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 100px rgba(255, 255, 255, .2);
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      text-shadow: 1px 1px 2px whitesmoke;
    }
    &--icon{
      color: whitesmoke;
      text-decoration: none;
      font-size: 66px;
    }
  }
}
